---
---

<section class="py-24 bg-surface overflow-hidden" id="turismo">
  <div class="max-w-7xl mx-auto px-6 mb-12">
    <h2 class="font-headline text-4xl text-on-surface">Explora Oruro</h2>
  </div>
  <div class="flex gap-6 overflow-x-auto pb-8 px-6 scrollbar-hide no-scrollbar">
    <!-- Item 1 -->
    <div class="relative flex-none w-[350px] h-[500px] rounded-2xl overflow-hidden group">
      <img class="w-full h-full object-cover group-hover:scale-110 transition-transform duration-700" alt="Santuario del Socavón en Oruro" src="https://lh3.googleusercontent.com/aida-public/AB6AXuDD4yFA_HE1Z24CvCNH0xsz6oEzPhhZdgbsPPa6mQlZ8Z1yiEqXIx4VVBV-jMMp-Iko9Qq_47mtbtehTNum28J6ViEIuYbJE61yg3S-rAlQ4DuCG8X-_w91qPW7dtg13-eRnAQduK1ei72FokSo_WsPr2vxu-u_TADzFlncdw_qD8elpHOGRAw2_7Yh4DXdkxcxHe1VgOAdbK3S6bv-ryfBsDpSKxH7ll2NS_AUm18U_-ToCLGtdzBI_3-Vaa8fNwonN0ER0l2z13A" />
      <div class="absolute inset-0 bg-gradient-to-t from-surface-container-highest via-transparent to-transparent"></div>
      <div class="absolute bottom-0 p-8">
        <h3 class="font-headline text-3xl text-primary mb-2">Santuario del Socavón</h3>
        <p class="text-sm text-secondary opacity-0 group-hover:opacity-100 transition-opacity duration-300">Epicentro de la fe orureña y lugar de entrada a la mina.</p>
      </div>
    </div>
    <!-- Item 2 -->
    <div class="relative flex-none w-[350px] h-[500px] rounded-2xl overflow-hidden group">
      <img class="w-full h-full object-cover group-hover:scale-110 transition-transform duration-700" alt="Carnaval de Oruro Patrimonio UNESCO" src="https://lh3.googleusercontent.com/aida-public/AB6AXuB7S1rub6UV4ca5IE9UtbA_1dzX-lA1h6E1W7HQXFzp6ZF6Hnu51lI8rlGOBagQXPlbwWK4TLUE35ouRL4VXFDQ__v5BodOTYeJ0Xmvx9S0XJRSfrOb-qqlPleOhtX1yT2cgRgSl_A0w_6ElEY4GyLCSYYgUESOL3OHrEOpEbmLUiaFlyYrgk2LI0rGXpJFPKyU_RIm8mSDwLFwF8zgkVT49vhwAKKelTYzzhhrcUJ1_JHRvI5PYCr_crqzTufXhF2IW02wHM6M3dk" />
      <div class="absolute inset-0 bg-gradient-to-t from-surface-container-highest via-transparent to-transparent"></div>
      <div class="absolute bottom-0 p-8">
        <h3 class="font-headline text-3xl text-primary mb-2">Carnaval de Oruro</h3>
        <p class="text-sm text-secondary opacity-0 group-hover:opacity-100 transition-opacity duration-300">Obra Maestra del Patrimonio Oral e Intangible de la Humanidad.</p>
      </div>
    </div>
    <!-- Item 3 -->
    <div class="relative flex-none w-[350px] h-[500px] rounded-2xl overflow-hidden group">
      <img class="w-full h-full object-cover group-hover:scale-110 transition-transform duration-700" alt="Lago Uru Uru al atardecer" src="https://lh3.googleusercontent.com/aida-public/AB6AXuBUSg6ww-IjwsjfCS6QFjYEz6HVa9zAv4uOvfv4uaR8PRTl-XrNgvFNS0T-nyJAsB9OitMDXxiagA199DJ_e6uZ7mdcXQu4ZGNsTiKqKZuU-50exoSAbV2qLwGabcp8sHUdOejM42qWH08RZfmCMx9FEUYNMXwL9ksrTvL5hP0iNRFN2q4dYZW2XwFF-l79fsokWYasMCXqhOhr30flohbu1QkVN16FEYpHRfmj64lHFNAhhXPYACW8T86WgHlkmisNYnNFsxe-QCo" />
      <div class="absolute inset-0 bg-gradient-to-t from-surface-container-highest via-transparent to-transparent"></div>
      <div class="absolute bottom-0 p-8">
        <h3 class="font-headline text-3xl text-primary mb-2">Lago Uru Uru</h3>
        <p class="text-sm text-secondary opacity-0 group-hover:opacity-100 transition-opacity duration-300">Naturaleza impresionante a las afueras de la ciudad.</p>
      </div>
    </div>
    <!-- Item 4 -->
    <div class="relative flex-none w-[350px] h-[500px] rounded-2xl overflow-hidden group">
      <img class="w-full h-full object-cover group-hover:scale-110 transition-transform duration-700" alt="Mina San José entrada histórica" src="https://lh3.googleusercontent.com/aida-public/AB6AXuB-2qtYij55HcEioLnPAW0aNE8nN9PpUtGiN6ENXYW04YRu4g9xzOedlDwDuiItxWmpGxnMlBmveoWwnit5w3O6KpiTrk8m8m3NlTo5OMQjCUYeefazI9nm1nTaCNZ-n3L7EbIEPeTZOYcxDF6yD8CagzgdMy6XAkn7VQvY8_3KkzPX4jKmbiKKCWGtdDmVWzAMOzbrEUEPe4dEcYVFT1J2uNwo-WxjlRzLPynsCKdLMQGinKv_f1NmObsW1xklY9UpYuZpaTP7MY4" />
      <div class="absolute inset-0 bg-gradient-to-t from-surface-container-highest via-transparent to-transparent"></div>
      <div class="absolute bottom-0 p-8">
        <h3 class="font-headline text-3xl text-primary mb-2">Mina San José</h3>
        <p class="text-sm text-secondary opacity-0 group-hover:opacity-100 transition-opacity duration-300">Historia viva de la minería boliviana.</p>
      </div>
    </div>
  </div>
</section>
